body {
    background-color: #5c5c5c;
    --offwite: rgb(233, 233, 233);
    margin-bottom: 0px;
    color: var(--offwite);
    font-family: monospace;
}

.sidenav {
    height: calc(100% - 100px);
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #999898;
    display: block;
    cursor: pointer;
    position: relative;
    
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav a:hover .closeBtn {
    display: block;
}

.closeBtn {
    float: right;
    width: 30px;
    height: 30px;
    display: none;
    clear: both;
    position: absolute;
    right: 0px;
    bottom: 5px;
    background-color: transparent;
    border: none;
    color: rgb(145, 142, 142);
    font-size: 20px;
    cursor: pointer;
}

.closeBtn:hover {
    color: white;
}

.activechat {
    background-color: rgba(255, 255, 255, 0.192);
    color: white;
}

.unread {
    background-color: rgb(138, 5, 5);
}

.main {
    margin-left: 180px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.msginp {
    margin: 10px;
}

.msg {
    color: inherit;
    position: relative;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.msgauthor {
    margin-bottom: 1px;
    font-weight: 700;
    color: inherit;
}

.messageContainer {
    margin-top: 15px;
    margin-left: 15px;
    color: inherit;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.fileUploadBtn {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    border-style: none;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.msginp {
    background-color: #747373;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 250px);
    min-width: 100px;
    min-height: 50px;
    display: flex;
    margin: 10px;
    margin-left: 30px;
}

#messages {
    height: calc(100vh - 80px);
    overflow-y: scroll;
    margin-top: -10px;
}

.msginp textarea {
    width: 89%;
    height: auto;
    background-color: inherit;
    border: none;
    border-radius: 16px;
    margin: auto 5px auto 5px;
    border-color: transparent;
    color: #FAF9F6;
    font-size: 20px;
    resize: none;
    word-wrap: break-word;
}

.msginp textarea:focus {
    outline: none;
}

.msgbtnsend {
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    height: 35px;
    background-color:rgb(52, 52, 53);
    color: var(--offwite);
    border: solid;
    border-color: transparent;
    border-radius: 10px;
}

.msgbtnsend:hover {
    background-color: #000000;
}

#chatMain {
    color: inherit;
}

.editingdiv {
    background-color: #747373;
    border-style: solid;
    border-color: #000000;
    border: none;
    border-radius: 8px;
    border-color: transparent;
    color: #FAF9F6;
    resize: none;
    word-wrap:break-word;
    overflow: hidden;
}


.msgdropdown {
    background-color: #111;
    position: absolute;
    height: auto;
    border-radius: 5px;
    line-height: 5px;
    width: 179px;
    z-index: 1;
    margin-left: 10px;
}

.msgdropdowngif {
    bottom: 10px;
}

.msgdropdown a {
    color: white;
    font-size: 20px;
    padding: 15px 10px 15px 10px;
    cursor: pointer;
    display: block;
}

.msgdropdown a:hover {
    background-color: #818181;
}

.uinp{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:20%;
    min-width: 120px;
}

.loginbtn {
    background-color: #0e3dbd;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

.loginbtn:hover {
    background-color: rgb(3, 170, 3);
}

.signupbtn {
    background-color: rgb(3, 170, 3);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

.signupbtn:hover {
    background-color: #0e3dbd;
}

.pageSwitchContainer {
    margin-top: -10px;
    margin-bottom: 20px;
}

.pageSwitchLink {
    border-bottom: solid #383737 1px;
}

#errWrapper {
    display: none;
    text-align: center;
    color: rgb(240, 240, 240);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 500px) {
    #bodyWrapper {
        display: none;
    }

    #errWrapper {
        display: block;
    }
}

@media only screen and (max-width: 815px) {
    .editinp {
        width: 200px;
    }
}