.userprofile {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 200px;
    background-color: rgb(52, 52, 53);
    cursor: pointer;
    border-right: black;
}

.userprofile h1 {
    color: white;
    margin: auto;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 190px;
    
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.settingsTrigger {
    font-size: 25px;
    width: 25px;
    height: 25px;
    margin-top: -3px;
    cursor: grab;
    display: inline;
    margin-right: 25px;
}

.nopointer { cursor: default; }

.editbtn {
    display: inline;
    cursor: pointer;
    margin-left: 10px;
    width: 150px;
}

.editinp {
    width: 400px;
    resize: none;
}


.profileoutlinediv {
    background-color: #747373;
    width: 50vw;
    height: auto;
    min-height: 70vh;
    z-index: 1000;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 40px;
    min-width: 100px;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    padding: 10px;
}

.profileoutlinediv h1 {
    text-align: center;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

.profileoutlinediv h5 {
    font-size: 22px;
    margin-bottom: 0px;
}

.profileoutlinediv p {
    margin-top: 0px;
    font-size: 17px;
}

.pfp {
    margin: 0 auto;
    /* margin-left: -25%; */
    height: 100%;
    width: auto;
    z-index: 1001;
}

.pfpupload {
    z-index: 10002;
    position: absolute;
    left: 44px;
    top: 33px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    border: none;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    border-radius: 5px;
}

.pfpupload:hover {
    display: block;
}

input[type="file"] {
    display: none;
}

.pfpcrop {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    text-align: center;
    float: left;
}

.pfpsmall {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.dmBar {
    margin-top: -75px;
    background-color: #000;
    position: fixed;
    height: 75px;
    z-index: 10;
    display: flex;
    align-items: center;
    width: calc(100vw - 200px);
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}

.dmbarpfp {
    display: inline;
    height: 75%;
    border-radius: 50%;
}

.dmbaruname {
    display: inline;
    margin-left: 30px;
}

.dmbarstat {
    float: right;
    margin-left: 50px;
    color: rgb(139, 139, 139);
    font-size: 20px;
}


/* Group DM friends display */
.uSelectWrapper {
    margin-top: 15px;
    font-size: 1.5em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.uSelectWrapper input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    margin-left: 25%;
}

.groupDMSubmitBtn {
    background-color: rgb(75, 75, 190);
    font-size: 2em;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 15px;
}

.groupDMSubmitBtn:hover {
    cursor: pointer;
    background-color:rgb(106, 106, 255);
}